<h2 th:text="'Hello ' +  ${name} + ', '"></h2>
You have asked to reset your password for the <span th:text="${company}"></span> account associated with this
email address (<span th:text="${email}"></span>).

You new temporary password is: <b th:text="${newPassword}"></b>

Please use the following link to reset your password:
<a th:href="${url}">Reset Password</a>

You can also copy and paste the link above into a new browser window.
If you didn't make the request, please ignore this email.

Replies to this email are not monitored or answered. If you need support or want to reach out to our help desk,
visit: <a href="https://www.sabhriti.com">www.sabhriti.org</a>

Thanks,
The <span th:text="${company}"></span> Team

***This is an automatic notification. Replies to this email are not monitored or answered.
